@font-face {
    font-family: "Neue Montreal";
    src: url("fonts/PPNeueMontreal-Book.otf") format("opentype");
}
@font-face {
    font-family: "Neue Medium";
    src: url("fonts/PPNeueMontreal-Medium.otf") format("opentype");
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}