@import "../../global.scss";
.contact{
    font-family: $font;
    padding-inline: $sideGap;
    background-color: $backgroundColor;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    .text{
        font-size: calc(.4rem + 1vmax);
        max-width: 500px;
        text-align: center;
    }

    .email{ 
        
        a{
            display: block;
            font-family: $boldFont;
            font-size: calc(.7rem + 1vmax);
            text-decoration: none;
            font-weight: 800;
            color: $textColor;
        }
    }
}