@import "../../global.scss";
.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: calc(1rem + 1vw);
    font-family: $font;
    .left{
        flex:1;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
    .right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a{
            text-decoration: none;
            display: block;
            border: .5px solid $textColor;
            color: $textColor;
            font-size: .95rem;
            padding: 15px 25px;
            border-radius: 45px;
            font-weight: 600;
        }
    }

}